---
import BentoItem from "./BentoItem.astro";
import { getI18N } from '../i18n/';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section
    class={`
        w-full max-w-[1400px]
        grid grid-cols-10 auto-rows-[30rem] gap-4
        mx-auto p-20
    `}
>
    <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_TITLE_1}>
        <div 
            slot="image"
            class="
                absolute left-0 top-0 bottom-0 h-full w-full group-hover:scale-110 transition-scale duration-1000 anim opacity-90 bg-blend-luminosity bg-center bg-no-repeat bg-cover bg-blue-950 -z-10"
            style="background-image: url('/mountain.webp')"
        ></div>  
        <p slot="content" class="max-w-xl" set:html={i18n.BENTO_DESCRIPTION_1}></p>
    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-6" title={i18n.BENTO_TITLE_3} subtitle={i18n.BENTO_SUBTITLE_3}>
        <div 
            slot="image"
            class="
                absolute left-0 top-0 bottom-0 h-full w-full group-hover:scale-110 transition-scale duration-1000 anim opacity-90 bg-blend-luminosity bg-center bg-no-repeat bg-cover bg-blue-800 -z-10"
            style="background-image: url('/gref.png')"
        ></div>  
        <p slot="content" class="max-w-xl" set:html={i18n.BENTO_DESCRIPTION_3}></p>
    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-6" title={i18n.BENTO_TITLE_2} subtitle={i18n.BENTO_SUBTITLE_2}>
        <div 
            slot="image"
            class="
                absolute left-0 top-0 bottom-0 h-full w-full group-hover:scale-110 transition-scale duration-1000 anim opacity-90 bg-blend-luminosity bg-center bg-no-repeat bg-cover bg-blue-900 -z-10"
            style="background-image: url('/pistas.webp')"
        ></div>  
        <p slot="content" class="max-w-xl" set:html={i18n.BENTO_DESCRIPTION_2}></p>
    </BentoItem> 

    <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_TITLE_4}>
        <div 
        slot="image"
        class="
            absolute left-0 top-0 bottom-0 h-full w-full group-hover:scale-110 transition-scale duration-1000 anim opacity-90 bg-blend-luminosity bg-center bg-no-repeat bg-cover bg-blue-950 -z-10"
        style="background-image: url('/laptop.png')"
        ></div>  
        <p slot="content" class="max-w-xl" set:html={i18n.BENTO_DESCRIPTION_4}></p>
    </BentoItem>

</section>